
<form [formGroup]="fromTransfer">


  <h1 class="text-lg-center"> Create Transfer </h1>
  <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Outcome</span>
      <input type="text" class="form-control" formControlName="outcome" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Income</span>
      <input type="text" class="form-control" formControlName="income" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
      <input type="number" class="form-control" formControlName="amount" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">reason</span>
      <input type="text" class="form-control" formControlName="reason"aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit" (click)="transferir()" >Confirm</button>
  </div>
</form>