<table class="table" >
    <thead>
      <tr>
        <th scope="col">Deposit Id </th>
        <th scope="col">Account Id </th>
        <th scope="col">Name customer</th>
        <th scope="col">Amount</th>
        <th scope="col">Date </th>
        

      </tr>
    </thead>
    <tbody  *ngFor="let deposito of depositosAll">
      <tr>
        <td>{{deposito.id}}</td>
        <td>{{deposito.account.id}}</td>
        <td>{{deposito.account.coustomer_id.fullName}}</td>
        <td>{{deposito.amount}}</td>
        <td>{{deposito.date_time}}</td>

       
      </tr>
    </tbody>
</table>
